{% extends "base.html" %}
{% load static %}

{% block title %}
Аналитика товара
{% endblock %}

{% block header %}
    <div style="margin: 10px; text-align: center";>
        <h1>
            Аналитика товара:
        </h1>
    </div>
{% endblock %}
    
{% block content %}
    <div style="display: flex; margin: 10px;">
        <div style="width: 50%;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <div>
                    <input class="form-control" type="text" placeholder="Найти на Wildberries" name="query" aria-label="query">
                    <button type="submit" class="btn btn-primary" style="margin: 10px;">Поиск</button>
                </div>
            </form>

            <table class="table table-bordered">
                <div id="sorting-container">
                </div>

                <tr>
                    <th>Название</th>
                    <th>₽</th>
                    <th>₽ со скидкой</th>
                    <th>Рейтинг</th>
                    <th>Отзывы</th>
                </tr>
                <tbody>
                    {% for product in object_list %}
                        <tr>
                            <td><a target="_blank" href="https://www.wildberries.ru/catalog/{{ product.wb_id }}/detail.aspx">{{ product.name }}</a></td>
                            <td style="text-decoration: line-through">{{ product.price }}</td>
                            <td>{{ product.discount_price }}</td>
                            <td>{{ product.rating }}</td>
                            <td>{{ product.feedback_counts }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if is_paginated %}
                <div style="display: flex;  justify-content:center;">
                    {% if page_obj.has_previous %}
                        <div>
                            <a href="{% querystring page=page_obj.previous_page_number %}">
                                <button type="submit" class="btn btn-secondary"> <<< </button>
                            </a>
                        </div>
                    {% endif %}
                    <div style=" padding: 7px; display: block; margin: 0px 10px; text-align: center; align-items: center;">
                        {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                    </div>
                    {% if page_obj.has_next %}
                        <div>
                            <a href="{% querystring page=page_obj.next_page_number %}">
                                <button type="submit" class="btn btn-secondary"> >>> </button>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div style="margin: 10px;">
            <div id="price-filter"
                data-min-price="{{ min_price }}"
                data-max-price="{{ max_price }}">
            </div>

            <div id="rating-filter"
                data-min-rating="{{ min_rating|default:0 }}"
                data-max-rating="{{ max_rating|default:5 }}">
            </div>

            <div id="feedback_counts"
                data-min-reviews="{{ min_feedback_counts }}"
                data-max-reviews="{{ max_feedback_counts }}">
            </div>

            <a href="{% url 'parser:products_list' %}">
                <button type="button" class="btn btn-danger">Cбросить фильтр</button>
            </a>
        </div>

        <div style="display: flex; flex-direction: column; justify-content: normal; align-items: center">
            <div>
                <div class="grafics_histogram"></div>
            </div>
            <div>
                <div class="linear_graph">
                </div>
            </div>
        </div>
    </div>
{% endblock %}